{% extends '::base.html.twig' %}

{% block body %}

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('AppShopBundle:Cart:cartBlock')) }}
                </div>
            </div>
        </div>
    </header>

    <div id="content" class="container">

        <div class="row">
            <div class="col-md-12">
                .
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ render(controller('AppCoreBundle:Default:getSidebar')) }}
            </div>
            <div class="col-md-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
