{#{% macro recursiveCategory(category) %}
    <li role="presentation" >
        <a href="" title="">{{ category.title }}</a>
        {% if category.children|length %}
            <ul>
                {% for child in category.children %}
                    {{ _self.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% if categories %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="block-title">Продукция</h2>
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                {% for category in categories %}
                    {{ _self.recursiveCategory(category) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}#}

<div class="row">
    <div class="col-md-12">
        <h2 class="block-title">ПРОДУКЦИЯ</h2>
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation" ><a href="#">Акссесуары</a></li>
            <li role="presentation" ><a href="#">Защита</a></li>
            <li role="presentation">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <a href="#collapseListGroup1" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1"><i class="glyphicon glyphicon-plus"></i> Фаркопы</a>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                                <a href="#collapseListGroup2" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup2"><i class="glyphicon glyphicon-plus"></i> Audi</a>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup2" aria-labelledby="collapseListGroupHeading2" aria-expanded="false" style="height: 0px;">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Audi 100</li>
                                    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Audi 700</li>
                                    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Audi 1500</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
                                <a href="#collapseListGroup3" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup3"><i class="glyphicon glyphicon-plus"></i> BMW</a>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup3" aria-labelledby="collapseListGroupHeading3" aria-expanded="false" style="height: 0px;">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> BMW x5</li>
                                    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> BMW x3</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li role="presentation"><a href="#">Электроприборы</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="block-title">НОВОСТИ</h2>
        <div class="">
            <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU4Njk5MmFmZmIgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTg2OTkyYWZmYiI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44MDQ2ODc1IiB5PSIxMDUuMSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
            <div class="caption">
                <h3><a href="#"></a></h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Подробней</a>
                </p>
            </div>
        </div>
    </div>
</div>