{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}{{ 'About us'|trans }}{% endblock %}

{% block content %}

    <div class="box_wrapper_title22 infoBoxWrapper">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>{{ 'About us'|trans }}</h1>
        </div>
    </div>

    <div class="contentContainer page_new_product first last">
        <div class="contentPadd txtPage">
            <div class="box_cms">
                Уважаемые покупатели, интернет-магазин Farkop-UA с радостью поможет Вам подобрать фаркоп, защиту, или другое необходимое оборуддование для Вашего автомобиля. Мы работаем на рынке дополнительного оборудования (фаркопы, защиты, электрика, автоаксессуары) для автомобилей, начиная с 2012 года, и имеем необходимый опыт и знания. Мы постоянно развиваемся, делая наш сервис все более интересным и качественным. Мы работаем напрямую только с лучшими производителями, для того, чтобы Вы остались довольны Вашим заказом. Для нас важен каждый клиент.
                Мы постоянно работаем над наполнением нашего сайта только качественными товарам, но, если Вы не нашли интересующий Вас товар, наберите, пожалуйста, консультанта по указанным номерам телефонов, или закажите обратный звонок через форму обратной связи.
                <br>
                Удачных покупок.
                <br>
                Ваш интернет-магазин фаркопов и дополнительного оборудования FARKOP-UA
                <br>
                <br>
                <br>
                Нам также важно Ваше мнение. По-этому свои отзывы и пожелания о товарах и магазине на нашем сайте.
                <br>
                <br>
                <br>
                Контактная информация<br>
                Контактное лицо: Консультант<br>
                Сайт компании: farkop-ua.com<br>
                Адрес: г. Киев<br>
                Телефон: +38 (063) 654-82-27; +38 (066) 916-60-89; +38 (097) 084-65-40;
            </div>
        </div>
    </div>

{% endblock %}