{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}{{ 'About us'|trans }}{% endblock %}

{% block content %}

    <div class="box_wrapper_title22 infoBoxWrapper">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>{{ 'About us'|trans }}</h1>
        </div>
    </div>

    <div class="contentContainer page_new_product first last">
        <div class="contentPadd txtPage">
            <div class="box_cms">
                <div class="col-md-12">
                    <h2>Информация о компании</h2>
                    <p>Уважаемые покупатели, интернет-магазин Farkop-UA с радостью поможет Вам подобрать фаркоп для Вашего автомобиля. Если Вы не нашли интересующий Вас товар - наберите, пожалуйста, консультанта по указанным номерам телефонов, или закажите обратный звонок.</p>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h3>Контактная информация</h3>
                    <p><strong>Контактное лицо:</strong> FARKOP-UA .COM</p>
                    <p><strong>Сайт компании:</strong> <a href="#">farkop-ua.com</a></p>

                </div>
                <div class="col-md-12">
                    <h3>Общая информация</h3>
                    <p><strong>Название:</strong> FARKOP-UA .COM</p>
                    <p><strong>Адрес:</strong> г. Княжичи, Киев</p>
                    <p><strong>Телефоны:</strong>
                    <ul class="list-unstyled">
                        <li><a href="tel:+380970846540">+38 (097) 084-65-40</a></li>
                        <li><a href="tel:+380970846540">+38 (097) 084-65-40</a></li>
                        <li><a href="tel:+380970846540">+38 (097) 084-65-40</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}