{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block content %}
    <div class="article-list row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>Название</dt>
                <dd>FARKOP-UA.COM</dd>
                <dt>Контактное лицо</dt>
                <dd>FARKOP-UA .COM</dd>
                <dt>Телефоны</dt>
                <dd><a href="tel:+380970846540">+38 (097) 084-65-40</a></dd>
                <dd><a href="tel:+380970846540">+38 (097) 084-65-40</a></dd>
                <dd><a href="tel:+380970846540">+38 (097) 084-65-40</a></dd>
                <dt>Эл. почта</dt>
                <dd><a href="mailto:autopartner01@gmail.com">autopartner01@gmail.com</a></dd>
                <dd><a href="#" data-toggle="modal" data-target="#myModal" >Написать нам</a></dd>

                <dt>Адрес</dt>
                <dd>г. Княжичи, Киев</dd>

                <dt>График работы</dt>
                <dd><a href="#">Посмотреть</a></dd>
            </dl>
        </div>
        <div class="col-md-12">
            <iframe frameborder="0" height="400" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40638.45964767996!2d30.74590383053723!3d50.46151739592716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4db81c064c4a1%3A0xae7efea99077cbb8!2z0JrQvdGP0LbQuNGH0LgsINCa0LjQtdCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDA3NDU1!5e0!3m2!1sru!2sua!4v1452863861408" width="100%"></iframe>
        </div>
        <div class="col-md-12 text-left">
            <h3>Филиалы и представительства</h3>
            <dl class="dl-horizontal" >
                <dt style="text-align:left !important;">Филиал</dt>
                <dd>Житомир</dd>
                <dt style="text-align:left !important;">Название</dt>
                <dd>FARKOP-UA.COM</dd>
                <dt style="text-align:left !important;">Телефон</dt>
                <dd><a href="tel:+380970846540">+38 (097) 084-65-40</a></dd>
                <dt style="text-align:left !important;">Эл. почта</dt>
                <dd><a href="mailto:autopartner01@gmail.com">autopartner01@gmail.com</a></dd>
                <dt style="text-align:left !important;">Адрес</dt>
                <dd>г. Житомир, Житомир</dd>
            </dl>
        </div>

    </div>

{% endblock %}