{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}
    Контакты
{% endblock %}

{% block content %}

    <div class="box_wrapper_title22 infoBoxWrapper">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>Контакты</h1>
        </div>
    </div>

    <div class="contentContainer page_new_product first last">
        <div class="contentPadd txtPage">
            <div class="box_cms">
                <br>Название	FARKOP-UA.COM
                <br>Контактное лицо	Консультант
                <br>Телефоны:
                <br>+38 (063) 654-82-27
                <br>+38 (066) 916-60-89
                <br>+38 (097) 084-65-40
                <br>Эл. почта	<a href="mailto:autopartner01@gmail.com">autopartner01@gmail.com</a>
                <br>Написать нам
                <br>Адрес	г. Киев
                <br>
                <br>

                <h3>График работы</h3>
                <br>День	Время работы
                <br>Понедельник	09:00 - 19:00
                <br>Вторник	09:00 - 19:00
                <br>Среда	09:00 - 19:00
                <br>Четверг	09:00 - 19:00
                <br>Пятница	09:00 - 19:00
                <br>Суббота	10:00 - 16:00
                <br>Воскресенье	10:00 - 16:00
                <br>
                <br>

                <h3>ФИЛИАЛЫ И ПРЕДСТАВИТЕЛЬСТВА</h3>
                <br>Филиал	Житомир
                <br>Название	FARKOP-UA
                <br>Эл. почта	<a href="mailto:autopartner01@gmail.com">autopartner01@gmail.com</a>
                <br>Адрес	г. Житомир

            </div>
        </div>
    </div>

{% endblock %}