{% extends 'AppCoreBundle:Layouts:layout.html.twig' %}

{% block page_title %}Поиск{% endblock %}

{% block content %}

    {% if results|length %}
        {% for result in results %}
            <div class="row">
                <div class="col-md-12">
                    {{ dump(result) }}
                    {{ result.title }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="navigation">
                    {{ knp_pagination_render(results) }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}