{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}Доставка и оплата{% endblock %}

{% block content %}

    <div class="box_wrapper_title22 infoBoxWrapper">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>Доставка и оплата</h1>
        </div>
    </div>

    <div class="contentContainer page_new_product first last">
        <div class="contentPadd txtPage">
            <div class="box_cms">
                <h3>Доставка</h3>
                Доставка осуществляется по территории всей Украины (кроме временно окупированых территорий) службами курьерской доставки.<br />
                Отправка возвможна следующими службами:<br />
                - Новая Почта (перевозчик с наиболее развитой сетью отделений и короткими терминами доставки)<br />
                - Ин-тайм (второй по численности отделений перевозчик с несколько меньшей стоимость оплаты услуг доставки)<br />
                <br />Также возможна отправка заказанного Вами товара другими перевозчиками, указаными ниже, но при заказе услуг доставки этими перевозчиками, необходимо уточнять возможность отправки конкретного заказанного Вами товара (в зависимости от производителя и самого товара).<br />
                <br />Перечень дополнительных перевозчиков:<br />
                - Гюнсел (цена доставки на уровне Ин-тайма, но отделения работают без выходных. Сроки доставки обычно укладываются в 1-3 дня в зависимости от региона доставки)<br />
                - Автолюкс (цена доставки на уровне Ин-тайма, но отделения работают без выходных. Сроки доставки обычно укладываются в 1-3 дня в зависимости от региона доставки)<br />
                - Ночной экспресс (преимуцество перевозчика в том, что заявленные сроки доставки, обычно, не превышают 24 часа. Услуга наложенного платежа не предоставляется)<br />
                - Деливери (конкурентно-способная стоимость доставки, но длительные сроки доставки. Услуга наложенного платежа не предоставляется)<br />
                <br />
                <h3>Оплата</h3>
                У нас можно оплатить заказанный товар наложенным платежём. Т.е. расчитаться за товар можно в отделении перевозчика при получении.<br />
                Также можно произвести предоплату товара на карту Приватбанка, или произвести оплату на расчётный счёт.<br />
                Цены на сайте указаны для оплаты наличными, или на карту. При оплате товара на расчётный счёт цена товара может отличаться от указанной на сайте. За дополнительной информацией обращайтесь к нашим консультантам по телефону, или через форму обратной связи.<br />
                <br /><br />Ждём Ваших заказов :)
            </div>
        </div>
    </div>

{% endblock %}