{% extends 'AppCoreBundle:Layouts:layout.html.twig' %}

{% block page_title %}{{ 'Checkout'|trans }}{% endblock %}

{% block content %}

    <div class="box_wrapper_title22">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>{{ 'Checkout'|trans }}</h1>
        </div>
    </div>

    <div class="contentContainer page_cart first last">
        <div class="contentPadd">
            <div class="box_cms block-form">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
