{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}
    {{ category.title }}
{% endblock %}

{% block content %}

    {% if entities|length %}

        {% for entity in entities %}
            <div class="row">
                <div class="col-md-12">
                    {{ entity.title }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="navigation">
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>
        </div>

    {% else %}
        Записей не найдено
    {% endif %}
{% endblock %}